<body class="bg-dark text-white">
  <div class="container d-flex justify-content-center align-items-center vh-100">
    <main class="form-signin w-100 text-center" style="max-width: 330px;">
      <h1 class="h3 mb-3 fw-normal">Edit Your Profile</h1>

      <%= form_with url: profiles_update_path, method: :patch, class: "needs-validation d-grid gap-3" do |f| %>


        <div class="text-center">
          <% if @profile.avatar.attached? %>
            <%= image_tag @profile.avatar, class: "mb-4 rounded-circle border border-light", width: "100", height: "100" %>
          <% else %>
            <!-- Placeholder amarelo se não houver avatar -->
            <div class="mb-4 rounded-circle bg-warning d-inline-block" style="width: 100px; height: 100px;"></div>
          <% end %>
        </div>

        <!-- Botão de Upload -->
        <div class="form-group">
          <%= f.label :avatar, "Upload Avatar", class: "form-label" %>
          <%= f.file_field :avatar, class: "form-control" %>
        </div>

        <!-- Nome -->
        <div class="form-floating">
          <%= f.text_field :name, class: "form-control", id: "floatingName", placeholder: "Your Name" %>
          <label for="floatingName" class="text-dark">Name</label>
        </div>

        <!-- Bio -->
        <div class="form-floating">
          <%= f.text_area :bio, class: "form-control", id: "floatingBio", placeholder: "Your Bio", rows: 6 %>
          <label for="floatingBio" class="text-dark">Bio</label>
        </div>

        <!-- Botão de atualização -->
        <div class="d-grid mt-3">
          <%= f.submit "Update Profile", class: "btn btn-primary btn-lg w-100" %>
        </div>
      <% end %>

      <!-- Botão de voltar -->
      <div class="mt-4">
        <%= link_to "Back to Home", root_path, class: "btn btn-secondary btn-block" %>
      </div>
    </main>
  </div>
</body>
