<h1>Profiles#edit</h1>

<%= form_with model: @profile, local: true do |f| %>
  <div class="form-group">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :bio, "Bio" %>
    <%= f.text_area :bio, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :avatar, "Choose Your Avatar" %>
    <%= f.file_field :avatar, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Update Profile", class: "btn btn-primary" %>
  </div>
<% end %>
