<p style="color: green"><%= notice %></p>

<% content_for :title, "Todos" %>

<h1>Your To-Do Lists</h1>

<div id="todos">
  <% @todos.each do |todo| %>
    <%= render todo %>
    <p>
      <%= link_to "Show this To-Do list", todo %>
      <%= button_to "Edit this To-Do list", todo, method: :update %>
      <%= button_to "Delete this To-Do list", todo, method: :delete %>
    </p>
  <% end %>
</div>

<%= link_to "New To-Do list", new_todo_path %>
